/* set tout to zero */
html,body {
	margin: 0;
	padding: 0;
	
	font-family: "Arial", "Sans Serif";
	/* font-family: "Script","Times New Roman", "Serif"; */
	overflow-x: hidden;
}

/* Divider, a thin grey line */
.divider {
	width: 90%;
	height: 0;
	border-bottom: 1px solid #cccccc;
	margin: auto;
}

/* Dark backgrounds, taken from StackOverflow */
/* https://stackoverflow.com/questions/23208200/how-to-darken-a-background-using-css*/
.overlay {
	position: relative;
	transition: all 1s;
}

.overlay:after {
	content: '\A';
	position: absolute;
	width: 100%; 
	height:100%;
	top:0; 
	left:0;
	background:rgba(0,0,0,0.5);
	opacity: 0.4;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.overlay:hover:after {
	opacity: 1;
}

/* framework */
.slide {
	width: 100vw;
	height: 100vh;
	text-align: center;
}

.black {
	background-color: black;
}

.white {
	color: rgba(255,160,95,1);
	background-color: white;
}

.pink {
	color: white;
	background-color: rgba(255,160,95,1);
}

/* header */
header {
	height: 100px;
}

header h1 {
	font-weight: normal;
}

header h2 {
	font-size: 1.2em;
	font-weight: normal;
}

header div {
	margin-block-start: 0em;
	margin-block-end: 0em;
}

img {
	margin: 0;
	padding: 0;
	
}

.header_banner {
	float: left;
}

.navigation_bar {
	float: right;
}

.navigation_bar div {
	display: inline-block;
}

.navigation_button {
	padding: 30px;
	text-decoration: none;
}

.navigation_button a{
	text-decoration: none;
	color: rgba(255,160,95,1);
	font-size: 2em;
}

.navigation_button a:visited{
	color: rgba(255,160,95,1);
}

/* footer */
footer {
	width: 100%;
	padding: 15px;
}

footer h1 {
	font-size: 1.2em;
	font-weight: normal;
}

/* content settings */

.article {
	padding: 15px;
}

.article h1 {
	font-size: 1.2em;
	font-weight: normal;
}

.side_article {
	padding: 15px;
}

.side_article h1{
	font-size: 1.2em;
	font-weight: normal;
}